{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ page['patient']['administrativeDatas']['3']['value']|e }}
    {% if page['patient']['administrativeDatas']['2']['value'] %}{{ page['patient']['administrativeDatas']['2']['value']|e }}
    {% else %}{{ page['patient']['administrativeDatas']['1']['value']|e }}{% endif %}
    : dossier patient - MedShakeEHR
{% endblock %}

{% block head %}
    <script>
      {# provoquer envoie asynchrone du patient dans le DICOM si config ok #}
      var dicomAutoSendPatient2Echo = {{ config.dicomAutoSendPatient2Echo }};
    </script>

    {{ parent() }}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/tinymce/tinymce/tinymce.min.js"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/tinymce/tinymce/jquery.tinymce.min.js"></script>

    {# JS général du dossier patient #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/patient.js"></script>

    {# JS commun au formulaire de consultation du module #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/commonBase.js"></script>

    {# JS spécifiques des formulaires présents à l'affichage initial de la page #}
    {% for i in page.listeForms %}
      <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/formsScripts/{{ i }}.js"></script>
    {% endfor %}

    <style>
        #newDoc{
          display: none;
        }

    </style>

{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% if page.patient.dossierType =="deleted" %}
        <div class="row alert alert-danger" role="alert">Ce dossier est marqué comme supprimé !</div>
        {% endif %}
        <div id="identitePatient" data-genre="{{ page.patient.administrativeDatas.administrativeGenderCode.value }}" data-patientID="{{ page.patient.id }}">

            {% include('inc-ajax-patientAdminData.html.twig') %}

        </div>

        {% set first='base' %}
        {% if page.modules|length > 3 %}
          <ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px">
            {% for m in page.modules %}
              {% if m.name != 'secretariat' and m.name != 'base' %}
                <li {% if first=='base' %}class="active"{% endif %}>
                  <a href="#tab_{{ m.name }}" aria-controls="tab_{{ m.name }}" data-toggle="tab"
                    onclick="$('.hideshow').removeClass('show').addClass('hide'); $('.hideshow.mod{{ m.name }}').removeClass('hide').addClass('show');setTimeout((function(){$('#formName_{{ m.name }} textarea').each(function(idx,el){auto_grow(el)})}),5);">
                    <h3 style="margin-top:4px;margin-bottom:4px">{{ m.name }}</h3>
                  </a>
                </li>
                {% set first = (first=='base') ? m.name : first %}
              {% endif %}
            {% endfor %}
          </ul>
        {% elseif page.modules|length == 3 %}
          {% for m in page.modules %}
            {% if m.name != 'base' and m.name != 'secretariat' %}
              {% set first = m.name %}
            {% endif %}
          {% endfor %}
        {% endif %}

        <div class="tab-content hide" role="document">
          {% for m in page.modules %}
            <div id="tab_{{ m.name }}" class="tab-pane{% if m.name==first %} active{% endif %}"></div>
          {% endfor %}
        </div>
        <div class="row">

          {% if config.secretariatPeutCreerConsult %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle m-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Consultation
                </button>
                <ul class="dropdown-menu">
                  {% for m in page.modules %}
                    {% if m.name != 'base' or page.modules|length == 2 %}
                      {% for v in page.formCs[m.name] %}
                        <li class="hideshow mod{{ m.name }} {% if m.name==first %}show{% else %}hide{% endif %}">
                          <a class="dropdown-item newCS addNewCS" data-parentID='0' data-formtocall="{{ v.formValues }}" data-csID="{{ v.id }}" data-mode="create" href="#">{{ v.label|e }}</a>
                        </li>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
            </div>
          {% endif %}

          {% if config.secretariatPeutCreerOrdo %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle m-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordonnance
                </button>
                <ul class="dropdown-menu">
                  {% for m in page.modules %}
                    {% if m.name != 'base' or page.modules|length == 2 %}
                      {% if page.formOrdo[m.name]|length %}
                        {% for v in page.formOrdo[m.name] %}
                          <li class="hideshow mod{{ m.name }} {% if m.name==first %}show{% else %}hide{% endif %}">
                            <a class="dropdown-item addNewOrdo" title="{{ v.description }}" data-porteur="{{ v.id }}" data-module="{{ m.name }}" data-ordoForm="{{ v.formValues }}" href="#">{{ v.label }}</a>
                          </li>
                        {% endfor %}
                      {% else %}
                        <li class="hideshow mod{{ m.name }} {% if m.name==first %}show{% else %}hide{% endif %}">
                          <span><i>Pas d'ordonnance pour cette discipline</i></span>
                        </li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>
            </div>
          {% endif %}

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle m-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courriers &amp; Certificats
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Certificats</li>
                    {% for v in page.modelesCertif %}
                        <li>
                            <a class="dropdown-item" class="newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                    <li role="separator" class="dropdown-divider"></li>
                    <li class="dropdown-header">Courriers</li>
                    {% for v in page.modelesCourrier %}
                        <li>
                            <a class="dropdown-item newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle m-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Document
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" id="linkAddNewDoc" href="#">Ajouter un document au dossier</a>
                    </li>
                    {% if config.dicomHost=='' %}
                      <li>
                          <a class="dropdown-item prepareReceptionDoc" href="#">Ajouter des documents au dossier via phonecapture</a>
                      </li>
                    {% endif %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle m-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled="disabled"{% endif %}>
                    Règlement
                </button>
                <ul class="dropdown-menu">
                  {% for m in page.modules %}
                    {% if m.name != 'base' or page.modules|length == 2 %}
                      {% for v in page.formReglement[m.name] %}
                        <li class="hideshow mod{{ m.name }} {% if m.name==first %}show{% else %}hide{% endif %}">
                          <a class="dropdown-item addNewReglement" title="{{ v.description }}" data-porteur="{{ v.id }}" data-module="{{ m.name }}" data-reglementForm="{{ v.formValues }}" href="#">{{ v.label }}</a>
                        </li>
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </ul>
            </div>

            {% if config.dicomHost!='' %}
              <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle m-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      DICOM
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="dropdown-item catchLastDicomSrData">Récupérer dernières mesures</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item catchOthersDicomSrData">Récupérer mesures antérieures</a>
                    </li>
                    <li role="separator" class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/dicom/{{ page.patient.id }}/" target="_blank">Voir tous les examens du patient</a>
                    </li>
                    <li role="separator" class="dropdown-divider"></li>
                    <li>
                        <a href="#" class="dropdown-item prepareEcho">Envoyer patient à échographe</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item prepareReceptionDoc dicom">Envoyer patient à phonecapture</a>
                    </li>
                  </ul>
              </div>
            {% endif %}

        </div>

        <div class="row" style="margin-top : 40px">

          {% if config.secretariatPeutVoirAtcd %}
            <div  class="col-md-3" style="border:1px solid #ccc;border-radius:4px;padding-top:10px">
              {# Formulaire latéral des ATCD #}
              <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                  <a href="#tabAtcd" aria-controls="tabAtcd" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></a>
                </li>
                {% if page.liensFamiliaux %}
                  <li class="nav-item">
                    <a class="nav-link" href="#tabLiens" aria-controls="tabLiens" data-toggle="tab"><span class="fa fa-link"></span></a>
                  </li>
                {% endif %}
              </ul>
              <div class="tab-content" style="padding-top:12px">
                <div id="tabAtcd" class="tab-pane active" role="tabpanel">
                  {% for module in page.modules %}
                    {% set k = module.name %}
                    {% if k != 'secretariat' and (page.modules|length < 4 or k != 'base') %}
                      {% set k=module.name %}
                      <div class="hideshow mod{{ k }} {% if k==first %}show{% else %}hide{% endif %} changeObserv">
                        <div id="latForm" class="hideshow mod{{ k }} {% if k==first %}show{% else %}hide{% endif %} changeObserv">
                          {% if page.atcdFormNames[k] %}
                            {{ f.formbuilder(page.atcdFormDatas[k] , page.atcdFormNames[k] , valFormLat ) }}
                          {% else %}
                            {{ f.formbuilder(page.atcdFormDatas['base'] , page.atcdFormNames['base'] , valFormLat ) }}
                          {% endif %}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>

                {% if page.liensFamiliaux %}
                  <div id="tabLiens" class="tab-pane col-md-12 p-0" role="tabpanel">
                    {# Liens familiaux #}
                    <div class="card">
                      <div class="card-header py-0 gras">Liens familiaux <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/relations/{{ page.patient.id }}/">
                        <button class="btn btn-default btn-sm float-right m-1" role="button" title="Édition des relations"><span class="fa fa-link" aria-hidden="true"></span></button></a>
                      </div>

                      <table class="table table-sm table-striped table-condensed table-hover small m-0">
                        <thead>
                          <tr>
                            <th></th>
                            <th>patient</th>
                            <th>ddn</th>
                            <th>relation</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for v in page.liensFamiliaux %}
                            <tr>
                              <td>
                                <a target="_blank" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.patientID }}/">
                                  <button class="btn btn-default btn-sm" role="button"><span class="fa fa-folder-open" aria-hidden="true"></span></button>
                                </a>
                              </td>
                              <td class="gras">{{ v.nom }} {{v.prenom }}</td>
                              <td>{{ v.ddn }}</td>
                              <td>{{ v.typeRelation }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>

                      </table>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}

            {# colonne principale #}
          {% if config.secretariatPeutVoirAtcd %}
            <div class="col-md-9" style="padding-left : 35px">
          {% else %}
            <div class="col-md-12" style="padding-left : 35px">
          {% endif %}
              {# Div d'import de nouveau doc #}
              <div id="newDoc" class="row toclear">{% include 'importDocForm.html.twig' %}</div>

              {# historique du jour #}
              <div id="historiqueToday">
                {% include 'patientHistoriqueToday.html.twig' %}
              </div>

              {# Div d'insertion de nouveau reglement #}
              <div id="newReglement" class="row toclear"></div>

              {# Div d'insertion de nouveau courrier #}
              <div id="newCourrier" class="row toclear"></div>

              {# Div d'insertion de nouvelle ordonance #}
              <div id="newOrdo" class="row toclear"></div>

              {# Div d'insertion de nouvelle consultation #}
              <div id="nouvelleCs" class="row toclear checkboxFixValue"></div>

              {# Div d'insertion de nouveau mail  #}
              <div id="newMail" class="row toclear"></div>

              {# Synthèse patient #}
              {% if config.secretariatPeutVoirSynthese %}
                {% include 'patientSynthese.html.twig' %}
              {% endif %}

              {# Historique complet #}
              <div id="historique">
                {% include 'patientHistoriqueMedical.html.twig' %}
              </div>
            </div>
          </div>

    </div>

    {# modal courbes de poids/taille/IMC #}
    {% include 'inc-patientModal-GraphsIMC.html.twig' %}

    {# modal changer nom consultation ou doc #}
    {% include 'inc-patientModal-changerTitre.html.twig' %}

    {# modal rapatrier mesures examen particulier #}
    {% include 'inc-patientModal-getSpecificDicomData.html.twig' %}

    {# modal éditer infos adminsitratives du patient #}
    {% include 'inc-patientModal-editAdminData.html.twig' %}

    {# modal changer la date d'une ligne d'historique #}
    {% include 'inc-patientModal-changerDateEffet.html.twig' %}

    {# modal phonecapture #}
    {% include 'inc-patientModal-phonecapture.html.twig' %}

{% endblock %}
