{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : dossier patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ page['patient']['administrativeDatas']['3']['value']|e }}
    {% if page['patient']['administrativeDatas']['2']['value'] %}{{ page['patient']['administrativeDatas']['2']['value']|e }}
    {% else %}{{ page['patient']['administrativeDatas']['1']['value']|e }}{% endif %}
    : dossier patient - MedShakeEHR
{% endblock %}

{% block head %}
    <script>
      {# provoquer envoie asynchrone du patient dans le DICOM si config ok #}
      var dicomAutoSendPatient2Echo = {{ config.dicomAutoSendPatient2Echo }};
    </script>

    {{ parent() }}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/tinymce/tinymce/tinymce.min.js"></script>
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/thirdparty/tinymce/tinymce/jquery.tinymce.min.js"></script>

    {# JS général du dossier patient #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/patient.js"></script>

    {# JS commun au formulaire de consultation du module #}
    <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/commonBase.js"></script>

    {# JS spécifiques des formulaires présents à l'affichage initial de la page #}
    {% for i in page.listeForms %}
      <script defer src="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/js/module/formsScripts/{{ i }}.js"></script>
    {% endfor %}

    <style>
        #newDoc{
          display: none;
        }

    </style>

{% endblock %}

{% block body %}

    <div class="container-fluid">
        {% if page.patient.dossierType =="deleted" %}
        <div class="row alert alert-danger" role="alert">Ce dossier est marqué comme supprimé !</div>
        {% endif %}
        <div class="row" id="identitePatient" data-genre="{{ page.patient.administrativeDatas.14 }}" data-patientID="{{ page.patient.id }}">

            {% include('inc-ajax-patientAdminData.html.twig') %}

        </div>

        <div class="row">

          {% if config.secretariatPeutCreerConsult %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Consultation
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {% for v in page.typeCs_csSecretariat %}
                    <li>
                      <a id="linkAddNewCs{{ v.id }}" class="newCS" data-parentID='0' data-formtocall="{{ v.formValues }}" data-csID="{{ v.id }}" data-mode="create" href="#">{{ v.module }} : {{ v.label|e }}</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
          {% endif %}

          {% if config.secretariatPeutCreerOrdo %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordonnance
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    {% for k,v in page.formOrdo %}
                      <a id="linkAddNewOrdo" data-porteur="{{ k }}" data-module="{{ v.module }}" data-ordoForm="{{ v.form }}" href="#">{{ v.module }} : Nouvelle prescription</a>
                    {% endfor %}
                  </li>
                </ul>
            </div>
          {% endif %}

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courriers &amp; Certificats
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Certificats</li>
                    {% for v in page.modelesCertif %}
                        <li>
                            <a class="newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Courriers</li>
                    {% for v in page.modelesCourrier %}
                        <li>
                            <a class="newCourrier" data-modeleID="{{ v.id }}" href="#">{{ v.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Document
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a id="linkAddNewDoc" href="#">Ajouter un document au dossier</a>
                    </li>
                    {% if config.dicomHost=='' %}
                      <li>
                          <a class="prepareReceptionDoc" href="#">Ajouter des documents au dossier via phonecapture</a>
                      </li>
                    {% endif %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if config.administratifPeutAvoirRecettes != 'true' %}disabled="disabled"{% endif %}>
                    Règlement
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
	          {% for k,v in page.formReglement %}
                    <li>
                      <a id="linkAddNewReglement"  data-porteur="{{ k }}" data-module="{{ v.module }}" data-reglementForm="{{ v.form }}" href="#">{{ v.module }} : Nouveau règlement</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>

            {% if config.dicomHost!='' %}
              <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      DICOM
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="#" class="catchLastDicomSrData">Récupérer dernières mesures</a>
                    </li>
                    <li>
                        <a href="#" class="catchOthersDicomSrData">Récupérer mesures antérieures</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/dicom/{{ page.patient.id }}/" target="_blank">Voir tous les examens du patient</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#" class="prepareEcho">Envoyer patient à échographe</a>
                    </li>
                    <li>
                        <a href="#" class="prepareReceptionDoc dicom">Envoyer patient à phonecapture</a>
                    </li>
                  </ul>
              </div>
            {% endif %}

        </div>

        <div class="row" style="margin-top : 40px">
          {% if config.secretariatPeutVoirAtcd %}
            <div  class="col-md-3" style="border:1px solid #ccc;border-radius:4px;padding-top:10px">
              {# Formulaire dlatéral des ATCD #}
              <ul class="nav nav-tabs" role="tablist">
                {% if page.atcdFormNames|length > 1 %}
                  <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-th-list"></span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                {% endif %}
                      {% set z=0 %}
                      {% for k,v in page.atcdFormNames %}
                        <li {% if z==0 %}class="active"{% endif %}>
                          <a href="#tab{{ v }}" aria-controls="tab{{ v }}" data-toggle="tab"
                            onclick="setTimeout((function(){$('#formName_{{ v }} textarea').each(function(idx,el){if(el.value!='')auto_grow(el)})}),5)">{{ k }}</a>
                        </li>
                        {% set z=1 %}
                      {% endfor %}
                {% if page.atcdFormNames|length > 1 %}
                    </ul>
                  </li>
                {% endif %}
                {% if page.liensFamiliaux %}
                  <li>
                    <a href="#tabLiens" aria-controls="tabLiens" data-toggle="tab"><span class="glyphicon glyphicon-link"></span></a>
                  </li>
                {% endif %}
              </ul>
              <div class="tab-content" style="padding-top:12px">
                {% set z=0 %}
                {% for k,v in page.atcdFormNames %}
                  <div role="tabpanel" class="tab-pane{% if z==0 %} active{% endif %}" id="tab{{ v }}">
                    <div id="latForm" class=" changeObserv">
                      {{ f.formbuilder(page.atcdFormDatas[k] , v , valFormLat ) }}
                    </div>
                  </div>
                  {% set z=1 %}
                {% endfor %}

                {% if page.liensFamiliaux %}
                  <div id="tabLiens" class="tab-pane" role="tabpanel">
                    {# Liens familiaux #}
                    <div class="panel panel-default">
                			<div class="panel-heading gras">Liens familiaux <a class="btn btn-default btn-xs pull-right" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/relations/{{ page.patient.id }}/" title="Édition des relations"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
                      </div>

                      <table class="table table-striped table-condensed table-hover small">
                				<thead>
                					<tr>
                						<th class="col-md-1"></th>
                						<th class="col-md-5">patient</th>
                            <th class="col-md-3">ddn</th>
                						<th class="col-md-3">relation</th>
                					</tr>
                				</thead>
                				<tbody>
                          {% for v in page.liensFamiliaux %}
                          <tr>
                            <td>
                              <a target="_blank" class="btn btn-default btn-xs" role="button" href="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/{{ v.patientID }}/"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a>
                            </td>
                            <td class="gras">{{ v.nom }} {{v.prenom }}</td>
                            <td>{{ v.ddn }}</td>
                            <td>{{ v.typeRelation }}</td>
                          </tr>
                          {% endfor %}
                				</tbody>
                			</table>
                		</div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endif %}

            {# colonne principale #}
          {% if config.secretariatPeutVoirAtcd %}
            <div class="col-md-9" style="padding-left : 35px">
          {% else %}
            <div class="col-md-12" style="padding-left : 35px">
          {% endif %}
              {# Div d'import de nouveau doc #}
              <div id="newDoc" class="row toclear">{% include 'importDocForm.html.twig' %}</div>

              {# historique du jour #}
              <div id="historiqueToday">
                {% include 'patientHistoriqueToday.html.twig' %}
              </div>

              {# Div d'insertion de nouveau reglement #}
              <div id="newReglement" class="row toclear"></div>

              {# Div d'insertion de nouveau courrier #}
              <div id="newCourrier" class="row toclear"></div>

              {# Div d'insertion de nouvelle ordonance #}
              <div id="newOrdo" class="row toclear"></div>

              {# Div d'insertion de nouvelle consultation #}
              <div id="nouvelleCs" class="row toclear checkboxFixValue"></div>

              {# Div d'insertion de nouveau mail  #}
              <div id="newMail" class="row toclear"></div>

              {# Synthèse patient #}
              {% if config.secretariatPeutVoirSynthese %}
                {% include 'patientSynthese.html.twig' %}
              {% endif %}

              {# Historique complet #}
              <div id="historique">
                {% include 'patientHistoriqueMedical.html.twig' %}
              </div>
            </div>
          </div>

    </div>

    {# modal courbes de poids/taille/IMC #}
    {% include 'inc-patientModal-GraphsIMC.html.twig' %}

    {# modal changer nom consultation ou doc #}
    {% include 'inc-patientModal-changerTitre.html.twig' %}

    {# modal rapatrier mesures examen particulier #}
    {% include 'inc-patientModal-getSpecificDicomData.html.twig' %}

    {# modal éditer infos adminsitratives du patient #}
    {% include 'inc-patientModal-editAdminData.html.twig' %}

    {# modal changer la date d'une ligne d'historique #}
    {% include 'inc-patientModal-changerDateEffet.html.twig' %}

    {# modal phonecapture #}
    {% include 'inc-patientModal-phonecapture.html.twig' %}

{% endblock %}
